.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 56px;
  margin-bottom: 56px;
  justify-content: center;
}

.SearchBar label {
  position: relative;
  width: calc(100% - 56px);
}



.SearchBar input {
  width: 100%;
  
  height: 56px;
  padding: .88rem 0 .88rem 16px;
  border: 0;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  color: #010c3f;
  text-align: left;
  font-size: 1rem;
  line-height: 56px;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  cursor: pointer;
  width: 56px;
  
  padding:  0;
  border-radius: 0 3px 3px 0;
  background-color: #010c3f;
  text-align: center;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, .7);
}